body{
	font-family: arial, sans-serif;
	font-size: small;
	background-color: #fafafa;
	margin: 0;
	padding: 0;
}
.header_fixed{
	display:flex;
	max-width: 930px;
	height: 77px;
	flex-direction: row;
	margin:auto;
	padding: 0px 40px 0px 40px;
	transition: all 0.4s;	
}
.header{				/*фиксированный заголовок*/
	position: fixed;
	top: 0;
	width: 100vw;
	height: 77px;
	background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;
	transition: all 0.4s;
}
.header_scroll{			/*фиксированный заголовок во время скрола*/
	height: 50px;	
	transition: height 0.4s;
}
.flex_line{
	display: inline-flex;
	align-items: center;
	flex-grow: 1;
}
.header_fixed__logo{
	justify-content: flex-start;
}
.header_fixed__icons{
	justify-content: space-between;
	max-width:140px;
	min-width:140px; 
}
.header_fixed__input{
	position: relative;
}
.header_fixed__input input{			/*форма инпута, текста и лупы внутри*/
	height: 28px; 
	width:215px;
	font-size: 14px;
	border: 1px solid #e6e6e6;
	outline: none;
	background-image: url(images/loopa.png);
	background-repeat: no-repeat;
/*	background-position: 4% 50%;
	text-align: left;  */
	padding-left: 30px;
}
.onfocus_input{						/*Для установленного фокуса*/
	background-position: 4% 50%;
	text-align: left;
}
.onblur_input{						/*Когда убираем фокус фокус*/
	background-position: 40% 50%;
	text-align: center;
}
.input_image{						/*Положение крестика на краю инпута*/
	position: absolute;
	left: 220px;
	filter: opacity(0.25);
}
.logo1{
	padding-right: 20px;
}
.logo2{
	padding-left: 15px;
	border-left: 1px solid black;
	transition: all 0.4s;
}
/* магия для убирания рамки на кнопке*/
::-moz-focus-outer, ::-moz-focus-inner{
	border:0;
	padding:0;
}
.footer{
	max-width: 930px;
	margin:auto;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 20px 40px 40px;
}
.links{
	word-spacing: 10px;
	line-height: 2;
}
.common_link{
	word-spacing: normal;
}
.common_link:link{
	text-decoration: none;
	color: #073b69;
}
.common_link:hover{
	text-decoration: none;
	color: #073b69;
}
.common_link:visited{
	text-decoration: none;
	color: #073b69;
}
.footer__string{
	color: #a5999c;	
}

.text_center{				/*Для изменения футера на выравнивание по центру*/
	text-align: center;
}

.container{					/*приступим к содержимому*/
	padding: 140px 40px 0px 60px;
	font-size: 16px;

}
.nat_logo{
	float:left;
	border: 1px solid #e6e6e6;
	border-radius: 100px; 
}
.container__info{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 888px;
}
.inline{					/*не хотите записаться в стоку? тогда мы идём к вам!*/
	display: inline-block;
}
